html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #246d5f;
}

.headmaster {
    text-align: center;
    min-width: 25rem;
}
.polished {
    margin: 0;
    padding: 0;
}

.polished img {
    width: 50%;
    min-width: 10rem;
    padding-top: 1rem;
    text-align: center;
}

.navigation {
    list-style: none;
    line-height: 2rem;
    padding: 0;
}

.footerLight {
    background-color: #1f685a;
    padding: 2rem;
    text-align: center;
    min-width: 21rem;
}

.footerLight img {
    width: 50%;
}

.footerDark {
    min-width: 23rem;
    background-color: #1c453d;
    padding:1rem;
    padding-top: 2rem;
    text-align: center;
}

.footerDark small {
    color: white;
}

.footerDark li {
    display: inline;
    list-style-type:none;
}

.footerDark a {
    color: white;
    text-decoration: underline;
    font-size: .9rem;
    padding: .5rem;
}

.footerDark ul {
    padding: 0;
}

.bannerBackground {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/banners/hero-home.jpg);
    background-size:cover;
    background-position: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
    min-width: 25rem;
}

.banner {
    color: white;
    font-family:'Ubuntu', sans-serif;; 
    text-align: center;
}

.banner-headline {
    text-transform:uppercase;
    font-weight:normal;
}

.banner p {
    margin-bottom: 2rem;
}

.bannerFooter {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/banners/soccer-banner-bw.jpg); 
    padding:5rem;
    background-size:cover;
    background-position: center;
    min-width: 15rem;
}

.logoBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    min-width: 15rem;
    gap: 2rem;
}

.logoBar img {
    width: 100%;
}

.logoBar li {
    list-style-type:none;
    min-width: 14rem;
    flex: 1 1 50%;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: 0.15rem solid #319b86;
    color: #319b86;
    text-decoration: none;
    border-radius: 2rem;
    padding: .5rem 3rem;
    transition-duration: 0.5s;
}

.btn:hover {
    color:white;
    background-color: #1c574b;
    transform: scale(1.1); 
    animation: 3s ease-out 0s;
    box-shadow: 0rem 0.5em 1.8rem rgb(0, 0, 0);
}

.btn:focus {
    background-color: #638c84;
    box-shadow: 0rem 0.5em 1.8rem rgb(0, 0, 0);
    outline: none !important;
    color: white;
}

.btn:active {
    background:linear-gradient(rgba(0, 0, 0, 0.5), #638c84);
    color:whitesmoke;
}

.btnT {
    padding: .1rem 2rem;
    margin-top: .5rem;
}

.btnWhite {
    border: 0.15rem solid #ffffff;
    color: #ffffff;
    margin: 1rem auto;
}


.footerB {
    color: white;
    border: 2px solid white;
    padding:.5rem 2rem;
    margin-top: .5rem;
}

.container {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
}

.container-text {
    width: 100%;
    max-width: 45em;
}

.preview {
    text-align: center;
    min-width: 15rem;
    padding: 1rem 4rem 1rem 5rem;
}

.preview p { 
    font-family: 'Ubuntu', sans-serif;;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 1rem;
    line-height:1.5;
    padding-bottom: 2rem;
}

.preview img {
    width: 100%;
    max-width: 50rem;
}

h1 {
    margin-top: 0;
    font-size: 1.802rem;
    text-transform:uppercase;
    color: #2b6c5f;
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight:normal;
}

h2 {
    font-size: 1.602rem;
    font-family: 'Ubuntu', sans-serif;
    line-height:1.5;
    text-transform: uppercase;
    font-weight: normal;
}

h3 {
    font-size: 1.424rem;
    font-family: 'Ubuntu', sans-serif;;
}

h4 {
    font-size: 1.266rem;
    font-family: 'Ubuntu', sans-serif;;
}

h5 {
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;;
}

p {
    font-size: 1.125rem;
}

small {
    font-size: 0.889rem;
    font-family: 'Ubuntu', sans-serif;;
}


@media only screen and (min-width: 0em) {}
    /* Phone or small */
    
@media only screen and (min-width: 45em) {
    /* Small tablet 720p*/

    h1 {
        margin-top: 0;
        font-size: 2.488rem;
        text-transform:uppercase;
        color: #2b6c5f;
        font-family: 'Ubuntu', sans-serif;;
        font-style: normal;
        font-weight:normal;
    }
    
    h2 {
        font-size: 2.074rem;
        font-family: 'Ubuntu', sans-serif;
        line-height:1.5;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    h3 {
        font-size: 1.728rem;
        font-family: 'Ubuntu', sans-serif;;
    }
    
    h4 {
        font-size: 1.44rem;
        font-family: 'Ubuntu', sans-serif;;
    }
    
    h5 {
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;;
    }
    
    p {
        font-size: 1.2rem;
    }

    small {
        font-size: 0.833rem;
        font-family: 'Ubuntu', sans-serif;;
    }

    .headmaster {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0;
        padding: .5rem 1.5rem;
    }
    
    .polished {
        flex-basis: 10%;
    }

    .polished img {
        margin-right: 1rem;
        padding-top: 0;
    }

    .headmaster ul {
        display: flex; 
        align-items: center;
        gap: 1rem;
    }

    .navigation {
        flex-grow: 1;
    }

    .navigation li:nth-last-of-type(2) {
        margin-left: auto;
    }     

    .footerLight {
        background-color: #1f685a;
        padding: 1rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    
    .footerLight img {
        width: 50%;
        padding-top: 1rem;
    }

    .footerB {
        color: white;
        border: 2px solid white;
        padding: .5rem 2rem;
        display: inline;
    }

    .footerDark {
        min-width: 23rem;
        background-color: #1c453d;
        padding:1rem 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footerDark small {
        color: white;
        align-self: center;
        text-align: left;
    }
    
    .footerDark a { 
        color: white;
        text-decoration: underline;
    }
    
    .footerDark ul {
        display: inline;
    }

    .footerDark li {
        list-style-type:none;
    }

    .logoBar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        min-width: 15rem;
        gap: 0rem;
    }

    .logoBar img {
        width: 80%;
    }
}


@media only screen and (min-width: 60em) {

    h1 {
        margin-top: 0;
        font-size: 3.052rem;
        text-transform:uppercase;
        color: #2b6c5f;
        font-family: 'Ubuntu', sans-serif;;
        font-style: normal;
        font-weight:normal;
    }
    
    h2 {
        font-size: 2.441rem;
        font-family: 'Ubuntu', sans-serif;
        line-height:1.5;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    h3 {
        font-size: 1.953rem;
        font-family: 'Ubuntu', sans-serif;;
    }
    
    h4 {
        font-size: 1.563rem;
        font-family: 'Ubuntu', sans-serif;;
    }
    
    h5 {
        font-size: 1.25rem;
        font-family: 'Ubuntu', sans-serif;;
    }
    
    p {
        font-size: 1.25rem;
    }

    small {
        font-size: 0.8rem;
        font-family: 'Ubuntu', sans-serif;;
    }

    .headmaster {
        padding: 1rem 5rem;
        text-align: left;
    }
    
    .polished img {
        width: 10%;
    }
    
    .navigation li {
        display: inline;
        line-height: 1rem;
        margin-right: 1rem;
    }

    .btnT {
        padding: .5rem 2rem;
    }

    .footerLight {
        background-color: #1f685a;
        padding: 1rem 10rem;
    }

    .footerB {
        color: white;
        border: 2px solid white;
        padding: .5rem 2rem;
        line-height:0rem
    }

    .footerDark {
        min-width: 23rem;
        background-color: #1c453d;
        padding:1rem 10rem;
        padding-right: 5rem;
    }
    
    .logoBar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row; 
        min-width: 15rem;
        /* gap: 1rem; */
    }

    .logoBar li {
        list-style-type:none;
        min-width: 14rem;
        flex: 1 1 auto;
    }

    .logoBar img {
        width: 50%;
    }

}
    /* Large table and Desktops/laptops */
